<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PSX Market Timings</title>
        <link href="../stylesheets/styles.css" rel="stylesheet">
        {% block title %}
        {% endblock %}
        
        <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div id="title">
        <img id="img" src="../stylesheets/psx.png" alt="PSX Logo" width="10%" height="auto">
    </div>
    {% block body %}
    {% endblock %}
    </body>
</html>